html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    height: 961px;
    width: 100%;
    min-width: 400px;
    font-family: 'Nunito Sans', sans-serif;
    overflow: hidden;
}


/* Styling aside */

.container aside {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    background-image: url(../assets/img/left-bg.svg);
    background-repeat: no-repeat;
}

.container aside .box {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 90%;
    /* border: 1px solid black; */
}

.container aside .box .title {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 29px;
    line-height: 40px;
}

.container aside .box img {
    margin-left: -8%;
    margin-top: 3%;
}

.container aside .box .app {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    margin-top: 10%;
}

.container aside .box p {
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.8);
    Width: 488px;
    height: auto;
    margin-top: 10%;
}

/* Akhir Styling aside */





/* Styling .login-box */

.container .login-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    background: rgba(99, 121, 244, 0.2);
}

.container .login-box .box {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 80%;
}

.container .login-box .box .word-bold {
    width: 400px;
    color: #3A3D42;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
}

.container .login-box .box .word-small {
    width: 433px;
    color: rgba(58, 61, 66, 0.6);
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    margin-top: 10%;
}

.container .login-box .box .login {
    display: none;
}

.container .login-box .box .description {
    display: none;
}


.container .login-box .box .pin-box {
    width: 85%;
    display: flex;
    margin-top: 10%;
    justify-content: space-evenly;
}

.container .login-box .box .pin-box div {
    width: 53px;
    Height: 65px;
    background-color: #FFFFFF;
    border: 1px solid rgba(169, 169, 169, 0.6);
    box-sizing: border-box;
    box-shadow: 0px 10px 75px rgba(147, 147, 147, 0.1);
    border-radius: 10px;
}

.container .login-box .box button {
    width: 85%;
    height: 57px;
    background-color: #DADADA;
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    border-radius: 12px;
    margin-top: 10%;
    border: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #88888F;
}

.container .login-box .box button:hover {
    background-color: #6379F4;
    color: #FFFFFF;
}

.container .login-box .box button:focus {
    outline: none;
}

.container .login-box .box .forgot-password {
    display: flex;
    width: 85%;
    color: rgba(58, 61, 66, 0.8);
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}

.container .login-box .box .forgot-password p {
    margin-left: auto;
}









/* Responsive tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 800px;
    }

    .container aside {
        display: flex;
        width: 100%;
        height: 20%;
        background-image: none;
        background: rgba(99, 121, 244, 0.2);
    }

    .container aside .box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .container aside .box .title {
        color: #6379F4;
    }

    .container aside .box img {
        display: none;
    }

    .container aside .box .app {
        display: none;
    }

    .container aside .box p {
        display: none;
    }

    .container .login-box {
        width: 100%;
        height: 80%;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 75px rgba(155, 155, 155, 0.15);
        border-radius: 20px;
    }

    .container .login-box .box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 90%;
    }

    .container .login-box .box .word-bold {
        display: none;
    }

    .container .login-box .box .word-small {
        display: none;
    }

    .container .login-box .box .login {
        display: flex;
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
        color: #3A3D42;
    }

    .container .login-box .box .description {
        display: flex;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        color: rgba(58, 61, 66, 0.6);
        width: 40%;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }
}



/* Responsive wide mobile */
@media only screen and (min-width: 481px) and (max-width: 767px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 700px;
    }

    .container aside {
        display: flex;
        width: 100%;
        height: 20%;
        background-image: none;
        background: rgba(99, 121, 244, 0.2);
    }

    .container aside .box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .container aside .box .title {
        color: #6379F4;
    }

    .container aside .box img {
        display: none;
    }

    .container aside .box .app {
        display: none;
    }

    .container aside .box p {
        display: none;
    }

    .container .login-box {
        width: 100%;
        height: 80%;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 75px rgba(155, 155, 155, 0.15);
        border-radius: 20px;
    }

    .container .login-box .box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 90%;
    }

    .container .login-box .box .word-bold {
        display: none;
    }

    .container .login-box .box .word-small {
        display: none;
    }

    .container .login-box .box .login {
        display: flex;
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
        color: #3A3D42;
    }

    .container .login-box .box .description {
        display: flex;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        color: rgba(58, 61, 66, 0.6);
        width: 40%;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }
}




/* Responsive mobile */
@media only screen and (max-width: 480px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
    }

    .container aside {
        display: flex;
        width: 100%;
        height: 20%;
        background-image: none;
        background: rgba(99, 121, 244, 0.2);
    }

    .container aside .box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .container aside .box .title {
        color: #6379F4;
    }

    .container aside .box img {
        display: none;
    }

    .container aside .box .app {
        display: none;
    }

    .container aside .box p {
        display: none;
    }

    .container .login-box {
        width: 100%;
        height: 80%;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 75px rgba(155, 155, 155, 0.15);
        border-radius: 20px;
    }

    .container .login-box .box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 90%;
    }

    .container .login-box .box .word-bold {
        display: none;
    }

    .container .login-box .box .word-small {
        display: none;
    }

    .container .login-box .box .login {
        display: flex;
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
        color: #3A3D42;
    }

    .container .login-box .box .description {
        display: flex;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        color: rgba(58, 61, 66, 0.6);
        width: 80%;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }
}