html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    background-color: rgba(99, 121, 244, 0.2);
}


/* Styling header */

header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 140px;
    background-color: rgb(255, 255, 255, 1);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

header .box {
    display: flex;
    width: 75%;
    height: 100%;
    align-items: center;
    /* border: 1px solid black;    */
}

header .box .title {
    color: rgb(99, 121, 244, 1);
    font-size: 29px;
    font-weight: bold;
    line-height: 40px;
}

header .box .profil {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .box .profil img {
    width: 52px;
    height: 52px;
    border-radius: 10px;
    margin-right: 20px;
}

header .box .profil .name {
    width: 180px;
    color: #3A3D42;
    display: flex;
    flex-direction: column;
    height: 50px;
}

header .box .profil .name span {
    font-size: 18px;
    font-weight: 700;
}

header .box .profil .name p {
    font-size: 13px;
    font-weight: 400;
    margin-top: 7px;
}

header .box .profil .notification {
    width: 18px;
    height: 15px;
}

header .box .profil .notification img {
    width: 18px;
    height: 15px;
}

/* Final styling header */


/* Styling container */

.content {
    display: flex;
    width: 100%;
    height: 850px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}

.content .box {
    display: flex;
    flex-direction: row;
    width: 75%;
    height: 100%;
    /* border: 2px solid black; */
}



/* Styling nav */

.content .box nav {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 25px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.content .box nav div {
    display: flex;
    margin-top: 40px;
    align-items: center;
    height: 35px;
    font-size: 18px;
    font-weight: 400;
    color: rgba(58, 61, 66, 0.8);
}

.content .box nav div:nth-child(2) {
    border-left: 5px solid #6379F4;
    color: #6379F4;
    font-size: 18px;
    font-weight: 700;
}

.content .box nav div:nth-child(5) {
    margin-top: auto;
    margin-bottom: 15%;
}

.content .box nav div img {
    width: 28px;
    height: 28px;
    margin-left: 10%;
}

.content .box nav div p {
    margin-left: 4%;
}

/* Final styling nav */

/* Styling section */
.content .box section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 73%;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 25px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    margin-left: auto;
}

.content .box section .box {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
}

.content .box section .box .transfer-to {
    font-size: 18px;
    font-weight: 700;
    color: #3A3D42;
}

.content .box section .box .box-to-box {
    display: flex;
    align-items: center;
    height: 110px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    margin-top: 5%;
    border-radius: 10px;
}

.content .box section .box .box-to-box img {
    width: 70px;
    height: 70px;
    margin-left: 3%;
}

.content .box section .box .box-to-box .box-profile {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
}

.content .box section .box .box-to-box .box-profile span {
    color: #4D4B57;
    font-size: 18px;
    font-weight: bold;
}

.content .box section .box .box-to-box .box-profile p {
    color: #7A7886;
    ;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: auto;
}

.content .box section .box .details-title {
    color: #3A3D42;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5%;
}

.content .box section .box .box-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 92px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin-top: 5%;
}

.content .box section .box .box-details span {
    color: #7A7886;
    font-size: 16px;
    font-weight: normal;
    margin-left: 3%;
    line-height: 22px;
    margin-top: 3%;
}

.content .box section .box .box-details p {
    color: #514F5B;
    ;
    font-size: 22px;
    font-weight: bold;
    margin-left: 3%;
}

.content .box section .box button {
    background-color: #6379F4;
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    border-radius: 12px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    width: 170px;
    height: 57px;
    margin-left: auto;
    margin-top: 5%;
    border: none;
}

.content .box section .box button:focus {
    outline: none;
}

.content .box section .box button:hover {
    background-color: rgba(58, 61, 66, 0.8);
}

/* Final Styling section */
/* Final Styling container */



/* Modal Styling */
.modal-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #3A3D42;
}

.modal-body {
    display: flex;
    flex-direction: column;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: rgba(58, 61, 66, 0.6);
}

.pin-box-modal {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

.pin-box-modal div {
    background: #FFFFFF;
    border: 1px solid rgba(169, 169, 169, 0.6);
    box-sizing: border-box;
    box-shadow: 0px 10px 75px rgba(147, 147, 147, 0.1);
    border-radius: 10px;
    width: 53px;
    height: 65px;
}

/* Akhir Styling Modal */


/* Styling footer */

footer {
    display: flex;
    width: 100%;
    height: 68px;
    background-color: rgb(99, 121, 244, 1);
    color: white;
    justify-content: center;
    margin-top: 35px;
}

footer .box {
    display: flex;
    width: 75%;
    align-items: center;
}

footer .box .author {
    width: 229px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

footer .box .contact-hp {
    width: auto;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    margin-right: 40px;
    margin-left: auto;
}

footer .box .contact-mail {
    width: auto;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
}








/* Responsive tablet */
@media only screen and (min-width: 768px) and (max-width: 885px) {

    /* Responsive tablet(header} */


    /* Responsive tablet(Container, Nav, Section) */
    .content {
        display: flex;
        width: 100%;
        height: 1000px;
        margin-top: 40px;
        justify-content: center;
        align-items: center;
    }

    .content .box {
        display: flex;
        flex-direction: column;
        width: 75%;
        height: 100%;
    }

    .content .box nav {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 10%;
        justify-content: center;
        align-items: center;
    }

    .content .box nav div {
        display: flex;
        flex-direction: row;
        margin: auto !important;
    }

    .content .box nav div:nth-child(2) p {
        display: none;
    }

    .content .box nav div:nth-child(2) {
        border-left: none;
    }

    .content .box nav div p {
        display: none;
    }



    .content .box section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 85%;
        background-color: #FFFFFF;
        border-radius: 25px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
        margin-top: auto;
    }



    /* Responsive tablet (footer) */
    footer {
        display: flex;
        width: 100%;
        height: 100px;
    }

    footer .box {
        display: flex;
        flex-direction: column;
        width: 75%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    footer .box .author {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    footer .box .contact-hp {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    footer .box .contact-mail {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}



/* Responsive wide mobile */
@media only screen and (min-width: 481px) and (max-width: 767px) {

    /* Responsive wide mobile(header) */
    header .box .profil {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header .box .profil img {
        width: 52px;
        height: 52px;
        border-radius: 10px;
        margin-right: 3px;
    }

    header .box .profil .name {
        width: 180px;
        color: #3A3D42;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 50px;
    }

    header .box .profil .name span {
        font-size: 18px;
        font-weight: 700;
    }

    /* Responsive wide-mobile(container, nav, section) */
    .content {
        display: flex;
        width: 100%;
        height: 1000px;
        margin-top: 40px;
        justify-content: center;
        align-items: center;
    }

    .content .box {
        display: flex;
        flex-direction: column;
        width: 75%;
        height: 100%;
    }

    .content .box nav {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 10%;
        justify-content: center;
        align-items: center;
    }

    .content .box nav div {
        display: flex;
        flex-direction: row;
        margin: auto !important;
    }

    .content .box nav div:nth-child(2) p {
        display: none;
    }

    .content .box nav div:nth-child(2) {
        border-left: none;
    }

    .content .box nav div p {
        display: none;
    }



    .content .box section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 85%;
        background-color: #FFFFFF;
        border-radius: 25px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
        margin-top: auto;
    }



    /* Responsive wide mobile(footer) */
    footer {
        display: flex;
        width: 100%;
        height: 100px;
    }

    footer .box {
        display: flex;
        flex-direction: column;
        width: 75%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    footer .box .author {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    footer .box .contact-hp {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    footer .box .contact-mail {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}




/* Responsive mobile */
@media only screen and (max-width: 480px) {

    /* Responsive mobile(header) */
    header .box {
        display: flex;
        width: 75%;
        height: 80%;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }

    header .box .profil {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        margin-top: 5%;
    }


    /* Responsive mobile(container, nav, section) */
    .content {
        display: flex;
        width: 100%;
        height: 900px;
        margin-top: 40px;
        justify-content: center;
        align-items: center;
    }

    .content .box {
        display: flex;
        flex-direction: column;
        width: 75%;
        height: 100%;
    }

    .content .box nav {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 10%;
        justify-content: center;
        align-items: center;
    }

    .content .box nav div {
        display: flex;
        flex-direction: row;
        margin: auto !important;
    }

    .content .box nav div:nth-child(2) p {
        display: none;
    }

    .content .box nav div:nth-child(2) {
        border-left: none;
    }

    .content .box nav div p {
        display: none;
    }



    .content .box section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 85%;
        background-color: #FFFFFF;
        border-radius: 25px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
        margin-top: auto;
    }



    /* Responsive mobile(footer) */
    footer {
        display: flex;
        width: 100%;
        height: 100px;
    }

    footer .box {
        display: flex;
        flex-direction: column;
        width: 75%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    footer .box .author {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    footer .box .contact-hp {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    footer .box .contact-mail {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}